<div class="card w-50 m-5" id="{{user_id}}">
  <input type="text" class="form-control m-2 input-bar" id="blog-title" value="{{blogPost.title}}">
  <div class="card-body">
      <textarea id="description" class="form-control m-1 input-bar" name="" id="" cols="30" rows="10">{{blogPost.description}}</textarea>

      <button type="Save" class="btn btn-primary m-1" id="submit">Save Changes</button>

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="public" autocomplete="off" checked> Public
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="private" autocomplete="off"> Private
        </label>
      </div>
  </div>
</div>

<script src="/js/edit.js"></script>
