<div class="row">
  {{#each publicPosts as |blogPost| }}
  <div class=" card mb-4 project">
    <div class="col-md-5">
      <h2>
        {{blogPost.title}}
      </h2>
      <p>
        {{blogPost.description}}
      </p>
    </div>
  </div>
  {{/each}}
</div>
<script src="./js/logout.js"></script>

