<div class="row m-4 mx-5">
  {{#each publicPosts as |blogPost| }}
   <div class="card p-0">
    <div class="card-header px-3">
      {{blogPost.title}}
    </div>
    <div class="card-body" id="{{blogPost.id}}">
      <p class="card-text p-3">{{blogPost.description}}</p>
    </div>
  </div>
  {{/each}}
</div>

