<div class="row">
  <div class="col-auto">
    <h2 class="text-center m-5">Welcome!</h2>
  </div>
</div>

{{#each blogPosts as |blogPost| }}
<div class="row m-1 mx-5">
  <div class="card p-0">
    <div class="card-header px-3">
      {{blogPost.title}}
    </div>
    <div class="card-body" id="{{blogPost.id}}">
      <p class="card-text p-3">{{blogPost.description}}</p>
      <button type="submit" class="btn btn-primary m-1 bg-danger" id="delete">Delete</button>
      <button type="submit" class="btn btn-primary m-1" id="edit">Edit</button>
    </div>
  </div>
</div>
{{/each}}

<script src="/js/profile.js"></script>


